node_modules
dist
dist-ssr
*.local
.DS_Store
*.log
*.tsbuildinfo
.eslintcache
.vscode
.idea

# Cypress
/cypress/videos/
/cypress/screenshots/

# Vitest
__screenshots__/

# Database files
*.db

# Vite
*.timestamp-*-*.mjs

test-results/
playwright-report/
